<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="<%= "https://ui-avatars.com/api/?name=#{current_user.name}+#{current_user.surname}" %>&size=720x600&rounded=true">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Profile</h1>
      <p class="mb-8 leading-relaxed">Edit personal information</p>
      <%= form_for(current_user, url: user_path(current_user), method: :put) do |f| %>
      <%= render "users/shared/error_messages", resource: current_user %>
        <div class="flex w-full md:justify-start justify-center items-end">
          <div class="relative mr-4 lg:w-full">
            <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
            <input type="text" id="name" required name="user[name]" value="<%= current_user.name %>" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="flex w-full md:justify-start justify-center items-end">
          <div class="relative mr-4 lg:w-full">
            <label for="surname" class="leading-7 text-sm text-gray-600">Surname</label>
            <input type="text" id="surname" required name="user[surname]" value="<%= current_user.surname %>" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="flex w-full md:justify-start justify-center items-end">
          <div class="relative mr-4 lg:w-full">
            <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
            <input type="email" id="email" name="user[email]" value="<%= current_user.email %>" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class='mt-4'>
        <button type='submit' class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</section>
