<h2>Trades</h2>
<div class="flex flex-col mt-8">
  <div class='flex justify-between mb-4'>
    <div class="mx-4 lg:mx-0">
      <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
        <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
          <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          </path>
        </svg>
      </span>
      <%= form_with url: trades_path, method: :get do |form| %>
        <input name='search' class="form-input w-32 sm:w-64 rounded-md pl-10 pr-4 focus:border-indigo-600" type="text" placeholder="Search by bank account">
        <button type='submit' class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
      <% end %>
    </div>
    <div>
      <%= link_to 'New Trade', new_trade_path, class: 'inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg' %>
    </div>
  </div>
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full">
        <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              #</th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Symbol</th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Shares</th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Price</th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Total Price</th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              State</th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @trades.each do |trade| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <%= trade.id %>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <%= trade.symbol %>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <%= trade.shares %>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <%= trade.price %>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <%= trade.total_price %>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <%= trade.state %>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                <a href="<%= trade_path(trade) %>" class="text-indigo-600 hover:text-indigo-900">Show More</a>
                <% if trade.pending? %>
                <a href="<%= edit_trade_path(trade) %>" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @trades %>
  </div>
</div>
